<h1>Welcome! {{user.name}}</h1>
<div class="container d-flex">
    <div class="row w-100">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card m-2">
                <div class="card-header">
                    <h6 class="text-center">Upadte Personal Details</h6>
                </div>
                <div class="card-body p-5">
                    <form userDetlForm="ngForm">
                        <div class="form-outline mb-4">
                            <input [(ngModel)]="user.email" type="text" id="email" name="email" class="form-control" placeholder=" " [disabled]="true"/>
                            <!-- <label class="form-label" for="name">Email</label> -->
                        </div>
                        <div class="form-outline mb-4">
                            <input [(ngModel)]="user.name" type="text" id="name" name="name" class="form-control" placeholder=" "/>
                            <label class="form-label" for="name">Name</label>
                        </div>
                        <button class="btn w-100 gradient-custom-4">Update</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card m-2">
                <div class="card-header">
                    <h6 class="text-center">Change Password</h6>
                </div>
                <div class="card-body p-5">
                    <form >
                        <div class="form-outline mb-4">
                            <input type="text" id="cPass" class="form-control" placeholder=" "/>
                            <label class="form-label" for="cPass">Current Password</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="newPass" class="form-control" placeholder=" "/>
                            <label class="form-label" for="newPass">New Password</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="cnfNewPass" class="form-control" placeholder=" "/>
                            <label class="form-label" for="cnfNewPass">Confirm Password</label>
                        </div>
                        <button class="btn w-100 gradient-custom-4">Change</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
